<p id="notice"><%= notice %></p>

<p>
  <strong>Nominative:</strong>
  <%= @client.nominative %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Via:</strong>
  <%= @client.via %>
</p>

<p>
  <strong>Civico:</strong>
  <%= @client.civico %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @client.cap %>
</p>

<p>
  <strong>Citta:</strong>
  <%= @client.citta %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @client.provincia %>
</p>

<p>
  <strong>Stato:</strong>
  <%= @client.stato %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @client.numero %>
</p>

<p>
  <strong>Partita iva:</strong>
  <%= @client.partita_iva %>
</p>

<p>
  <strong>Codice fiscale:</strong>
  <%= @client.codice_fiscale %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
