<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @performance.client %>
</p>

<p>
  <strong>Description:</strong>
  <%= @performance.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @performance.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @performance.duration %>
</p>

<p>
  <strong>Invoiced:</strong>
  <%= @performance.invoiced %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @performance.rate %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
